:root {
  --primary: #272930;
  --secondary: #17191A ;
  --text:  white;
}

* {
  color: var(--text);
  font-family: 'Times New Roman', Times, serif;
}
body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  min-height: 10vh;
}

footer {
  min-height: 10vh;
}
header , footer {
  background-color: var(--primary);
}
main {
  background-color: var(--secondary);
}


/* Shadow footer and header  */
header {
  box-shadow: 0px 1px 5px ghostwhite;
  z-index: 99;
}
footer {
   box-shadow: 0px -1px 5px ghostwhite;
}

.pfp {
    width: 300px;
    height: auto;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}
.home button {
  width: 100%;
  background-color: #dc143c;
  border: none;
  padding: 1.5em;
  font-size: 1em;
  font-weight: bold;
  letter-spacing: 0.2rem;
  font-style: italic;
  animation-name: myButtonAnimation;
  animation-duration: 2s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  opacity: 100%;
}
@keyframes myAnimation {
  0% {opacity: 100%;}
  50% {opacity: 70%;}
  100% {opacity: 100%;}
}
.btn-cont {
  width: 50%;
  padding: 3px;
}
.home button:hover {
  cursor: pointer;
  opacity: 70%;
}
#home, #experience, #projects {
    width: 100%;
    height: 100%;
}
#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.switch {
  padding: 10px;
}
.switch:hover {
  cursor: pointer;
}

.switch_selected {
  color: red;
}

.img-cont img {
  height: 80px;
  width: 200px;
}
.img-cont {
  display: flex;
  align-items: center;
}
.exp {
  display: flex;
  justify-content: space-around;
}
.experience {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.exp-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.proj {
  width: 80%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.proj > div {
  width: 80%;
}
.proj img{
  height: 30px;
  width: 30px;
}
.proj-cont {
  display: flex;
  align-items: center;
  gap: 20px;
}
.projects {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Keep it in the last line */
.hidden {
  display: none;
}