
body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  min-height: 10vh;
}

footer {
  min-height: 10vh;
}

header, footer {
    background-color: pink;
}

.pfp {
    height: 20em;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#home, #experience, #projects {
    width: 100%;
    height: 100%;
}
#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.switch {
  margin: 10px;
}
.switch:hover {
  cursor: pointer;
}
