
body {
  min-height: 100vh;
  margin: 0;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

header {
  min-height: 10vh;
}

footer {
  min-height: 10vh;
}

header, footer {
    background-color: pink;
}

.pfp {
    height: 20em;
}
.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#home, #experience, #projects {
    width: 100%;
    height: 100%;
}
#header {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.switch {
  margin: 10px;
}
.switch:hover {
  cursor: pointer;
}

.switch_selected {
  color: red;
}

.img-cont img {
  height: 80px;
  width: 200px;
}
.img-cont {
  display: flex;
  align-items: center;
}
.exp {
  display: flex;
  justify-content: space-around;
}
.experience {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.exp-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.proj {
  width: 80%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.proj > div {
  width: 80%;
}
.proj img{
  height: 30px;
  width: 30px;
}
.proj-cont {
  display: flex;
  align-items: center;
  gap: 20px;
}
.projects {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Keep it in the last line */
.hidden {
  display: none;
}